<div id="box">
  <div class="box_container">
    <div class="box_coluna">
<div class="box_info">
<div class="box_groupinfo1">
  <p class="box_info_title1">A segurança é com a gente, a satisfação é sua</p>
</div>
<div class="box_groupnfo2">
  <p class="box_info_title2">Com sede na Espanha, o Santander conta com a credibilidade de um dos maiores e mais importantes bancos do mundo.</p>
</div>
<div class="box_groupnfo3">
  <p class="box_info_title3">Eleito o melhor do Brasil e América Latina⁴.</p>
</div>

</div>
</div>
<div class="box_background"></div>
</div>
</div>
<div class="box1">
<div class="box_container1">

<div class="box_background1"></div>
<div class="box_info1">
<div class="box_info1_group1">
 <div class="box_info1_text">
Abra sua conta online
 </div>
  <div class="box_info1_text1">
    Faça igual a outros brasileiros e escolha o Santander
  </div>
<form>
  <div class="box_info1_input">
  <input type="text" placeholder="Digite seu CPF">
</div>
<div class="box_info1_button">
<button type="submit">Abra sua conta</button>
</div>
</form>

</div>

</div>
</div>

</div>



