<div id="pacotes">
<div class="pacotes_container">
<div class="pacotes_row">
<div class="centralizar">
 <div class="pacotes_groupTitle">
<p class="pacotes_title_p">Confira nossos principais pacotes de serviços</p>
 </div>

 <div class="pacotes_cards">
   <div class="pacotes_cards_list">
<div class="pacotes_todos_pacotes">
<div class="pacotes_1">
<div class="pacotes_wrapper">
  <div class="pacotes_cards_botao">
    <p class="pacotes_btn_Card">Exclusivo Digital</p>
  </div>
  <div class="pacotes_cardsGroup_title1">
    <span class="cards_span1">Conta Confia</span>
  </div>
  <div class="pacotes_cardsGroup_title2">
<p class="cards_title_preco">R $ 0,00</p>
<span class="cards_span2">/mês</span>
  </div>
  <div class="cards_hr"></div>
  <div class="pacotes_cards_info">
<div class="pacotes_cards_info_items1">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_info_items1">
  <p class="info_items_p1">TAREFAS ZERO recebendo R $ 1.000 mensais no Santander e realizando pagamentos de contas todo mês pelos canais digitais</p>
</div>
</div>
<div class="pacotes_cards_info_items2">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_info_items2">
  <p class="info_items_p1">Saques no caixa eletrônico ilimitados</p>
</div>
</div>
<div class="pacotes_cards_info_items3">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_info_items3">
  <p class="info_items_p1">DOC e TEDs ilimitados</p>
</div>
</div>

  </div>
</div>

</div>
<div class="pacotes_2">
  <div class="pacotes_wrapper_2">

        <div class="pacotes_2_cardsGroup_title1">
      <span class="cards_2_span1">Pacotes Padronizados lll</span>
    </div>
    <div class="pacotes_2_cardsGroup_title2">
  <p class="cards_2_title_preco">R $ 28,00</p>
  <span class="cards_2_span2">/mês</span>
    </div>
    <div class="cards_hr"></div>
    <div class="pacotes_2_cards_info">
  <div class="pacotes_2_cards_info_items1">
    <div class="divImg">
      <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
    </div>
  <div class="cards_2_info_items1">
    <p class="info_2_items_p1">10 saques por mês</p>
  </div>
  </div>
  <div class="pacotes_2_cards_info_items2">
    <div class="divImg">
      <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
    </div>
  <div class="cards_2_info_items2">
    <p class="info_2_items_p2">2 DOC ou TED mensais</p>
  </div>
  </div>
  <div class="pacotes_2_cards_info_items3">
    <div class="divImg">
      <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
    </div>
  <div class="cards_2_info_items3">
    <p class="info_2_items_p3">Cartão SX com anuidade zero ao cadastrar seu celular e CPF como chaves Pix ou ao gastar R $ 100 em compras por fatura</p>
  </div>
  </div>
  <div class="pacotes_2_cards_info_items4">
    <div class="divImg">
      <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
    </div>
  <div class="cards_2_info_items4">
    <p class="info_2_items_p4">50% de desconto para universitários</p>
  </div>
  </div>

    </div>
  </div>
</div>
<div class="pacotes_3">
  <div class="pacotes_wrapper_3">

    <div class="pacotes_3_cardsGroup_title1">
  <span class="cards_3_span1">Van Gogh Plus</span>
</div>
<div class="pacotes_3_cardsGroup_title2">
<p class="cards_3_title_preco">R $ 72,40</p>
<span class="cards_3_span2">/mês</span>
</div>
<div class="cards_hr"></div>
<div class="pacotes_3_cards_info">
<div class="pacotes_3_cards_info_items1">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_3_info_items1">
<p class="info_3_items_p1">3 meses grátis no pacote de serviços + 50% OFF na anuidade do Cartão 1 | 2 | 3</p>
</div>
</div>
<div class="pacotes_3_cards_info_items2">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_3_info_items2">
<p class="info_3_items_p2">Saques no caixa eletrônico ilimitados</p>
</div>
</div>
<div class="pacotes_3_cards_info_items3">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_3_info_items3">
<p class="info_3_items_p3">DOC e TEDs ilimitados</p>
</div>
</div>
<div class="pacotes_3_cards_info_items4">
  <div class="divImg">
    <img class="img_item1" src="../../../../assets/check.png" alt="imagem check">
  </div>
<div class="cards_3_info_items4">
<p class="info_3_items_p4">Cartão 1 | 2 | 3 livre de anuidade ao gastar R $ 1.000 em compras por fatura</p>
</div>
</div>

</div>
</div>
</div>
</div>
   </div>
 </div>
 <div class="pacotes_services">
   <div class="pacotes_services_group-title1">
     <p class="services_p1">Sobre os valores dos nossos pacotes</p>
   </div>
   <div class="pacotes_services_group-title2">
     <p class="services_p2">Cestas de serviços que são ideais para cada necessidade dos nossos clientes</p>
   </div >
   <div class="pacotes_services_group-title3">
     <p class="services_p3">Isso não é taxa, é serviço de qualidade com transparência.</p>
   </div>
 </div>
</div>
</div>
</div>
</div>
