<div id="beneficios">
<div class="beneficios_container">
<div class="beneficios_row">
<div class="beneficios_coluna">
<div class="beneficios_divTitle">
  <p class="beneficios_pTitle">Conta Confia com Cartão SX</p>
</div>
<div class="beneficios_itens_container">
<div class="beneficios_item1">

  <div class="item_icon">
  <div class="beneficios_voltaImg">
<img  class="beneficios_img" src="../../../../assets/dinheiro.png" alt="imagem do dinheiro">
</div>
  </div>
  <div class="item_info">
    <div class="item_contorno">
      <p class="item_info_1">Tarifa zero no pacote de serviços²</p>
    </div>
    <div class="item contorno1">
      <span class="item_info_2">Basta receber R $ 1.000 mensais no Santander e realizar o pagamento de pelo menos 1 conta todo mês pelos canais digitais.</span>
    </div>
  </div>
</div>
<div class="beneficios_item2">
  <div class="item_icon">
    <div class="beneficios_voltaImg">
    <img src="../../../../assets/cartao.png" alt="imagem do cartao">
  </div>
  </div>
  <div class="item_info">
    <div class="item_contorno">
      <p class="item_info_1b">Cartão SX com anuidade zero³</p>
    </div>
    <div class="item_contorno1">
      <span class="item_info_2">Ao cadastrar e manter o CPF e celular como chaves Pix no Santander ou acumulando R $ 100 em compras por fatura.</span>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

</div>
