
<div id="footer">
<div class="footer_container">
  <div class="footer_group_p">
    <p >O (s) produto (s) local (s) pode (m) estão sujeito (s) à aprovação de crédito e cadastro e podem ser contratados de maneira independente.</p>
    <p>¹Utilizar o crédito de forma consciente. Sujeito a aprovação de crédito e disponibilização de limite de conta. Necessário cadastrar e manter uma chave PIX, CPF ou Celular em conta corrente Santander.</p>
    <p>²Benefícios disponíveis para clientes que contratarem o pacote Conta Confia no momento de abertura da conta corrente, via canal digital, e cumprirem as regras conforme regulamento <a href="/" >www.santander.com.br/contaconfia .</a></p>
    <p>³Na fatura em que não mais acumulados R $ 100 em compras ou no mês em que não para a identificação de manutenção do cadastro do CPF e do celular como as chaves Pix será retirada o valor da anuidade do cartão, que corresponde a 1/12 do valor divulgado na Tabela de Serviços.</p>
    <p>⁴Fonte: Euromoney 2019.</p>
  </div>

<div class="footer_hr"></div>
<div class="footer_group_text">
  <strong>© 2020 Banco Santander (Brasil) SA, CNPJ: 90.400.888 / 0001-42</strong>
  <p>Av. Presidente Juscelino Kubitscheck 2041/2235 - Vila Olímpia - São Paulo / SP.</p>
</div>
  </div>


</div>
