<div id="conta">
<div class="conta_colunas">

  <div class="conta_groupImg">
    <img src="../../../../assets/Mobilemockup.png" alt="imagem de celular">
  </div>
  <div class="conta_info">
<div class="conta_grouptitle1">
  <p class="conta_title1">
    Abra sua conta de onde estiver e já tiver a usar:
  </p>
</div>
<div class="conta_topicos">

<div class="conta_groupInfo1">
  <div class="numero1">
    1
  </div>
  <div class="info1">
    <strong class="strong1">É prático:</strong>
    <span class="span1">digite seu CPF, preencha seus dados e escolha o pacote de serviços ideal;</span>
  </div>
</div>
<div class="conta_groupInfo2">
  <div class="numero2">
    2
  </div>
  <div class="info2">
    <strong class="strong1">É rápido:</strong>
    <span class="span2">tire uma selfie e escolha nossas ofertas;</span>
  </div>
</div>
<div class="conta_groupInfo3">
  <div class="numero3">
    3
  </div>
  <div class="info3">
    <strong class="strong1">É seguro:</strong>
    <span class="span3">tire uma foto da frente e verso do seu RG ou CNH.;</span>
  </div>
</div>

<div class="conta_groupinfo4">
<strong class="conta_title4">Leva só alguns minutos!</strong>
</div>
<div class="conta_groupinfo5">
  <span class="conta_title5">E o melhor: durante o pedido de abertura, você pode configurar a senha e já começar a movimentar sua conta! Ainda tem dúvidas? </span>
<a href="/">Clique aqui.</a>
</div>
</div>

</div>



  </div>
</div>

