<div id="banner">
<div class="banner_background">
<div class="banner_container">
<div class="banner_row">
  <div class="banner_flex">
<div class="banner_card" >
<div class="banner_title">
<p class="banner_title__p">Abra sua conta no banco mais vigoroso do Brasiiiilll !!</p>
</div>
<div class="banner_text">
<p class="banner_text__p1">10 dias sem juros no limite da conta¹, cartão com anuidade zero e muito mais.</p>
</div>
<form>
  <div class="banner_form">
<input class="banner_input" type="text" placeholder="Digite seu CPF">
<button class="banner_button" type="submit">Abra sua conta</button>
  </div>
</form>



</div>
  </div>


</div>

</div>


</div>
</div>
