<div id="pedido-cartao">
<div class="cartao_container">
<div class="cartao_colunas">

<div class="cartao_groupInfo">
  <div class="cartao_groupTitle1">
    <p class="cartao_title1">Peça um cartão de crédito ao abrir sua conta</p>
  </div>
  <div class="cartao_groupTitle2">
    <span class="cartao_title2">Com o Santander você pode também pedir seu cartão de crédito ao abrir sua conta.</span>
    <span class="cartao_title3">Tenha um cartão online antes<br> mesmo do seu físico chegar, controle seus gastos com o App Way e ainda tenha a possibilidade de ficar livre da anuidade.</span>
  </div>
  <a href="/">
    Veja os cartões que temos
  </a>
</div>
<div class="cartao_groupImg">
  <img src="../../../../assets/img-cartao-desk.png" alt="cartao">
</div>
</div>
</div>

</div>
